import os
import logging
import coloredlogs  # type: ignore
from [[python_package_import_name]] import constants as const

project = "[[python_package_import_name]]"


[% raw %]
log = logging.getLogger(project)
fmt = "%(asctime)s:%(msecs)03d %(name)s [%(filename)s:%(lineno)s] %(levelname)s %(message)s"
level = "ERROR" if os.environ.get(const.ENVIRONMENT, "").upper() == const.PRODUCTION.upper() else "DEBUG"
coloredlogs.install(level=level, logger=log, fmt=fmt)
[% endraw %]
