version: 0.0.0
model_name: slu
slots:                # Just an example, please change this to your own slots.
  _cancel_:           # Intent name
    number_slot:      # slot name
    - number          # entity types
tasks:
  classification:
    alias: {}
    format: ''
    model_args:
      production:
        best_model_dir: null
        dynamic_quantize: true
        eval_batch_size: 10                                    # same as the number of inputs going into the model.
        max_seq_length: 128                                    # reduce this to get less latency in exchange of accuracy.
        no_cache: true
        output_dir: null
        reprocess_input_data: true
        silent: true
        thread_count: 1
        use_multiprocessing: false                            # Setting this to true hurts performance!
      test:
        best_model_dir: null
        output_dir: null
        reprocess_input_data: true
        silent: true
      train:
        best_model_dir: null
        early_stopping_consider_epochs: true
        early_stopping_delta: 0.01
        early_stopping_metric: eval_loss
        early_stopping_metric_minimize: true
        early_stopping_patience: 3
        eval_batch_size: 8
        fp16: false
        num_train_epochs: 1
        output_dir: null
        overwrite_output_dir: true
        reprocess_input_data: true
        save_eval_checkpoints: false
        save_model_every_epoch: false
        save_steps: -1
        use_early_stopping: true
    skip:                                       # Skip the intents that are not required for training, will still be used for testing.
    - silence
    - audio_noisy
    threshold: 0.1
    use: true
calibration: {}
languages:
- en
