"""
This module offers an interactive repl to run a Workflow.
"""
import json
import ast
from pprint import pprint
from typing import List, Dict, Any, Optional, Tuple

from prompt_toolkit import prompt
from [[python_package_import_name]].controller.prediction import predict_wrapper
from [[python_package_import_name]].utils.logger import log
from [[python_package_import_name]] import constants as const

[% raw %]
def make_alts_from_text(text: str) -> Tuple[List[List[Dict[str, Any]]], Optional[str]]:
    """
    [summary]

    Args:
        text (str): [description]

    Returns:
        List[Dict[str, Any]]: [description]
    """
    return [[{const.TRANSCRIPT: text, const.CONFIDENCE: None}]], None



[% endraw %]